@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar completely */
@layer utilities {
  /* Hide scrollbar for all browsers */
  .custom-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }
  
  .custom-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }

  .scrollbar-hide-idle {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }
  
  .scrollbar-hide-idle::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}